version: "3.9"

services:
  postgresDB:
    image: postgres:latest
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: emma
      POSTGRES_PASSWORD: dummy
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - postgresDB:/data/postgres
    networks:
      - db

networks:
  db:
    driver: bridge

volumes:
  postgresDB:
